* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    height: 5rem;
    background-image: url('/static/navbar.jpg');
    background-size: 100vw 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
}

.buttons a {
    color: #000;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 22px;
}

.logo img {
    height: 3rem;
    width: 3rem;
    border-radius: 70%;
}

.image img {
    width: 85vw;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    border-radius: 6px;
}

.text {
    padding: 2rem;
}

.heading {
    font-weight: bold;
    margin-top: 2rem;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxOne {
    width: 30vw;
    height: 25rem;
    background-color: red;
    background-image: url('/static/info_1.jpg');
    background-size: 30vw 25rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.boxTwo {
    width: 30vw;
    height: 25rem;
    background-color: red;
    background-image: url('/static/info_2.jpg');
    background-size: 30vw 25rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.headingtwo {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.formbox {
    padding-left: 6rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.inputags {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 10px;
    padding-left: 15px;
}