<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rockz</title>

    <link rel="shortcut icon" href="/static/logo.jpg" type="image/jpg" />

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="/static/logo.jpg" alt="" />
      </div>
      <div class="links">
        <a href="#">Home</a>
        <a href="#">Blog's</a>
        <a href="#">Latest Rocket's</a>
        <a href="#">UpComing Rocket's</a>
      </div>
      <div class="buttons">
        <a href="#">Join</a>
        <a href="#">ApplyApplication</a>
      </div>
    </div>
  </body>
</html>
