<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rockz</title>

    <link rel="shortcut icon" href="/static/logo.jpg" type="image/jpg" />

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <img src="/static/logo.jpg" alt="" />
      </div>
      <div class="links">
        <a href="#">Home</a>
        <a href="#">Blog's</a>
        <a href="#">Latest Rocket's</a>
        <a href="#">UpComing Rocket's</a>
      </div>
      <div class="buttons">
        <a href="#">Join</a>
        <a href="#">ApplyIntern</a>
      </div>
    </div>

    <div class="image">
      <img src="/static/rocket.jpg" alt="">
    </div>

    <div class="text">
      <h1 class="heading">What is Rockz Website.</h1>
      <h3>Rockz is a website for Rocket Information Website. it has information about Rocket's like Example:- Rocket Lunch Date's, How Rocket will work, it is also called as Rockz Blog's Website. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis deserunt eaque ratione ab doloribus sequi voluptate consequatur optio tempore pariatur?</h3>

      <h1 class='heading'>Space Researcher Can Write the Blog's</h1>
      <h3>Space Researcher can write the blog's about latest Rocket details. it usefull for normal people and College Students. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero perferendis ratione quasi beatae vitae minus, eveniet facilis expedita dolor fugiat?</h3>
    </div>

    <h1 class="headingtwo">Use's of Rockz Website</h1>

    <div class="box">
      <div class="boxOne">

      </div>
    </div>

  </body>
</html>
